<!doctype html>
<html lang="en">
  {% include 'head.html' %}
  <body class="preload">
    <div id="dnd-modal">
      <div id="dnd-modal-content">
        Drag image here to search
      </div>
    </div>
    <div id="content">
      <div class="banner">
        {% include 'navbar.html' %}
      </div>
      <div class="main">
        <div class="description">
          <p>SOSHI photo source finder</p>
        </div>
        <div class="news">
          <p>{{ news }}</p>
        </div>

        {% block forms %}
        {% include 'input_forms.html' %}
        {% endblock forms %}

        {% block error_msg %}
        {% endblock error_msg %}

        {% block results %}
        {% endblock results %}

      </div>
      <div class="text">
        <p>This app is currently in a very beta phase. The number of indexed accounts is limited, as is the scope of the indexing. Twitter's API only allows access to an account's last 3200 tweets, so for older accounts and/or accounts that tweet a lot, there will be many missing posts.</p>
        <p>If you would like Twitter accounts added to the scrape list, please send me a list of accounts at hi@sone.pw</p>
      </div>
    </div>
    <div id="footer_wrapper">
      <div id="footer">
        <p class="footer_text">
        Indexing {{ num_photos }} photos
        </p>
        <p class="footer_text">
        Updated {{ mtime }} ago
        </p>
        <p class="footer_text">
          Fork of <a target="_blank" rel="noopener noreferrer" title="Sourcecatcher Github" href="https://github.com/evanc577/sourcecatcher">Sourcecatcher.com</a> by <a target="_blank" rel="noopener noreferrer" title="u/ipwnmice" href="https://www.reddit.com/u/ipwnmice">u/ipwnmice</a>
        </p>
      </div>
    </div>
    {% include 'scripts.html' %}
  </body>
</html>
